@import url('reset.css');

@font-face {
	font-family: 'Fredericka';
	src: url('../fonts/FrederickatheGreat-Regular.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Montserrat';
	src: url('../fonts/Montserrat-Regular.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Montserrat';
	src: url('../fonts/Montserrat-Bold.woff2') format('woff2');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

/* GLOBAL */
:root {
	--text-color:#ffff;
	--brand-color:#253F97;
	--main-color:#2E2E2E;
	--second-color:#424242;
	--card-color:#212121;
	--active-color:#FF7E20;
	--second-active-color:#838cff;
	--raunded:16px;
}

body{
    font-family: "Montserrat", sans-serif;
	color: var(--text-color);
	line-height: 1.3;
}

.container{
	max-width: 1140px;
	margin: 0 auto;
	padding: 0 15px;
}
.title {
	font-weight: 700;
	font-size: 48px;
	line-height: 1.2;
}

/* HEADER */

.header {
	padding: 35px;
	background: var(--brand-color);
}
.header-box {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.header-logo {
}
.header-nav {
	display: flex;
	gap: 20px;
}
.header-nav-link {
	font-size: 20px;
	color: var(--text-color);
	text-decoration: none;
}
.header-nav-link:hover {
	color: var(--active-color);
}

/* MAIN */
/* HERO */

.hero {
	background: var(--main-color);
	font-family: 'Fredericka';
	min-height: 460px;
	text-align: center;
	display: flex;
	align-items:center;
}
.hero-box {
	max-width: 810px;
}
.hero-title {
	font-size: 48px;
	text-transform: uppercase;

}

/* ABOUT SECTION */

.about {
	padding: 90px 0;
	background: var(--second-color);
}
.about-title {
	margin: 0 0 45px;
}
.about-block {
	margin: 45px 0 0;
	display: flex;
	border-radius: var(--raunded);
	overflow: hidden;
}
.about-content {
	padding: 26px 24px;
	font-size: 24px;
	background: var(--card-color);
	flex: 1 1 50px;
}
.about-content-title {
	font-weight: 700;
	font-size: 32px;
	margin: 0 0 25px;
}
.about-content-desc {

}
.about-img {

}
.about-img img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

/* FEATURE SECTION */

.feature {
	padding: 90px 0;
	background: var(--main-color);
}
.feature-title {
}
.feature-cards {
	margin: 45px -15px 0;
	display: flex;
	flex-wrap: wrap;
	row-gap: 30px;
}

.feature-card {
	flex: 0 1 33.33333%;
	padding: 0 15px;
}
.feature-card > div {
	background: var(--card-color);
	padding: 24px 26px;
	border: 1px solid var(--second-color);
}
.card-img {
	width: 100%;
	height: 156px;
	object-fit: cover;
}
.feature-inner {
	padding: 24px
}
.feature-inner-title {
	font-size: 32px;
	font-weight: 700;
}
.feature-inner-desc {
	margin: 23px 0 0;
}
.feature-inner-link {
	color: var(--active-color);
}
.feature-inner-link:hover{
	color:var(--second-active-color);
}

/* FOOTER */

.footer {
	padding: 30px 0;
}
.footer-desc {
} 
.footer-desc a{
	text-decoration: none;
}
.footer-desc a:hover {
	color: var(--active-color);
}